<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Instagram</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Instagram.styles.css" asp-append-version="true" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <div class="navs">
                     @if (User.Identity.IsAuthenticated)
                     {
                         <ion-icon class="ic" name="logo-instagram" id="menuIcon"></ion-icon>
                         <div class="sidenav">
                            <div class="containers-nav">
                                <div class="animations">
                                    <a style="text-transform:none; display: flex; align-items: center;text-decoration: none; color: aliceblue;font-size: x-large;" asp-controller="Publication" asp-action="Index">
                                        <ion-icon class="sc ic" name="home-outline"></ion-icon>
                                    </a>
                                    <p class="texts j">На главную</p>
                                </div>
                                <div class="animations">
                                    <a style="text-transform:none; display: flex; align-items: center;text-decoration: none; color: aliceblue;font-size: x-large;" asp-controller="Publication" asp-action="Create">
                                        <ion-icon class="sc ic" name="add-circle-outline"></ion-icon>
                                    </a>
                                    <p class="texts j">Добавить пост</p>
                                </div>
                                <div class="animations">
                                    <a style="text-transform:none; display: flex; align-items: center;text-decoration: none; color: aliceblue;font-size: x-large;" asp-controller="User" asp-action="Profile" asp-route-id="@Convert.ToInt32(userManager.GetUserId(User))">
                                        <ion-icon class="sc ic" name="person-outline"></ion-icon>
                                    </a>
                                    <p class="texts j">Личный кабинет</p>
                                </div>
                            </div>

                           <div style="position: absolute; bottom: 0; left: 0;">
                               <form asp-controller="Account" asp-action="LogOff" class="hover-container">
                                   <button type="submit" style="all: initial;">
                                       <ion-icon class="sc ic" style="display: block; font-size: xx-large; margin: -46px 1px 0px 6px; color: black;" name="exit-outline"></ion-icon>
                                   </button>
                                   <p class="vix j">Выход</p>
                               </form>
                           </div>
                         </div>

                     }
                    <a class="navbar-brand" asp-area="" asp-controller="Publication" asp-action="Index"><img src="~/imgInst/instagram.png" alt="instagram" style="width: 118px;margin-left: 72px;"></a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">

                        @if (User.Identity.IsAuthenticated)
                        {
                            <div class="asa">
                                <li>
                                    <div class="group">
                                        <svg class="icon" aria-hidden="true" viewBox="0 0 24 24"><g><path d="M21.53 20.47l-3.66-3.66C19.195 15.24 20 13.214 20 11c0-4.97-4.03-9-9-9s-9 4.03-9 9 4.03 9 9 9c2.215 0 4.24-.804 5.808-2.13l3.66 3.66c.147.146.34.22.53.22s.385-.073.53-.22c.295-.293.295-.767.002-1.06zM3.5 11c0-4.135 3.365-7.5 7.5-7.5s7.5 3.365 7.5 7.5-3.365 7.5-7.5 7.5-7.5-3.365-7.5-7.5z"></path></g></svg>
                                        <input placeholder="Поиск" id="searchInput" type="text" class="inputs">
                                        <label for="input" class="label"></label>
                                        <div class="underline" id="searchResults"></div>
                                    </div>
                                </li> 
                            </div>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Login">Login</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Register">Register</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
